.tittle {
    padding: 30px;
    text-align: center;
    font-size: 13px;
    font-family: sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 500px;
    color: #868686;
    background-color: #fff;
    font-size: 1.5rem;
    margin-bottom: 30px;
    background-color: aqua;
}

.container {
    background-color: rgb(215, 229, 250);
}

.color {
    background-color: aqua;
    height: 100;
    width: 100;
}